<p id="notice"><%= notice %></p>


<div class="card w-50 mx-auto mt-5">
  <div class="card-header">
    <h1>Cities</h1>
    <div class="d-flex justify-content-end">
      <%= link_to 'Search Cities', search_cities_path, class: "btn btn-secondary mr-3" %>
      <%= link_to 'New City', new_city_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Population</th>
          <th>State</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= number_with_delimiter(city.population, delimiter: ".") %></td>
        <td><%= State.find(city.state_id).name %></td>
        <td><%= link_to 'Show', city, class: "btn btn-secondary" %></td>
        <td><%= link_to 'Edit', edit_city_path(city), class: "btn btn-secondary" %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>
