<p id="notice"><%= notice %></p>

<div class="card w-25 mx-auto mt-5">
  <div class="card-body">
    <% if @cities.length > 0 %>
      <% @cities.each do |city| %>
        <p>
          <strong>Name:</strong>
          <%= city.name %>
        </p>

        <p>
          <strong>Population:</strong>
          <%= number_with_delimiter(city.population, delimiter: ".") %>
        </p>

        <p>
          <strong>State:</strong>
          <%= State.find(city.state_id).name %>
        </p>
      <% end %>
    <% else %>
      <p> No records found. </p>
    <% end %>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Back', search_cities_path, class: "btn btn-secondary mr-3" %>
  </div>
</div>
