<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:#feff03" href="#">EMBARCA TEST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item <%= nav_item_active?('cities', 'index') %>">
        <%= link_to "Cities", cities_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= nav_item_active?('cities', 'new_search') %>">
        <%= link_to "Search Cities", search_cities_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= nav_item_active?('states', 'index') %>">
        <%= link_to "States", states_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>